@import "./variables";
@import "./reset";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text-primary);
}

h1,
h2,
h3 {
  color: #fff;
  font-weight: bold;
}

h1 {
  font-size: 4rem;
  margin-top: 0.25em;
}

body {
  background: var(--purple-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  width: 75px;
}

.container {
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}

button {
  background: var(--purple);
  color: white;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  transition: 0.3s ease;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  &:hover,
  &:focus {
    transform: translateY(-0.25rem);
  }
}
